<h2>New Person</h2>
<% form_for @person, people_path, :html => { :id => 'new-form', :class => 'h-post' } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Save" %>
  </p>
<% end %>

<h2>Listing people</h2>
<table id="people" class="table">
  <% for person in @people %>
    <%= render :partial => "person", :locals => { :person => person} %>
  <% end %>
</table>

<div id="content">
  
</div>

<script type="text/javascript" charset="utf-8">
  var handle_get_json = function(data) {
    $('#content').html(data).fadeTo('slow', 0.8, function() {
      $(this).css('backgroundColor', '#eee');
    })
    $('#content').append('<p>from JSON</p>')
  }
  
  var handle_delete_json = function(data) {
    $("#" + data.html_id).fadeOut();
    $.jGrowl(data.message);
  }
  
</script>