<ul>
  <li><%= link_to 'handicraft_ujs usage demo', people_path %></li>
  <li><%= link_to 'Single-Field Inline Edit', fie1_items_path %></li>
  <li><%= link_to 'Multi-Field Inline Edit', fie2_items_path %></li>
  <li><%= link_to 'Group Edit', ge1_items_path %></li>
  
</ul>