<h2>Examples</h2>
  <%= render_menu(navigation_menu) %>
<h2>Github</h2>
<ul>
  <li><a href="http://github.com/ihower/handicraft-interfaces/tree/master">handicraft-interfaces</a></li>
  <li><a href="http://github.com/ihower/handicraft_helper/tree/master">handicraft_helper</a></li>
  <li><a href="http://github.com/ihower/handicraft_ujs/tree/master">handicraft_ujs</a></li>
</ul>

<h2>Author and License</h2>

<p>Author:: Wen-Tien Chang(mailto:ihower@handlino.com) <br>
Copyright:: Copyright (c) 2009 <a href="http://handlino.com">Handlino Inc.</a> <br>
Licensed under the MIT: http://www.opensource.org/licenses/mit-license.php </p>