<% content_for :page_specific_css do %>
<style type="text/css" media="screen">
  .inline-edit-tool {
    font-size: 12px;
  }
</style>
<% end -%>

<div id="info"></div>

<a herf="#" id="inline-edit-tool-toggle" >Edit</a>

<ul id="sortable-list">
<% @items.each do |item| %>

  <li id="<%= dom_id(item, :inline_edit) %>">
  <%= render :partial => "show", :locals => { :item => item } %>
  </li>
  
<% end -%>
</ul>

<% content_for :page_specific_javascript do %>
<script type="text/javascript" charset="utf-8">
 // (function($) {
      $(document).ready(function() {
          $(".inline-edit-tool").hide();
          
          $("#inline-edit-tool-toggle").toggle(function(event){
            $(".inline-edit-tool").show();
              $("#inline-edit-tool-toggle").html("Done editing")
          }, function(){
            $(".inline-edit-tool").hide();
            $("#inline-edit-tool-toggle").html("Edit")
          }
          )
          
          $("#sortable-list").sortable({
            handle : '.handle',
            update : function () {
              var order = $('#sortable-list').sortable('serialize');
              $.post("ge1_items/sort", order + "&_method=put" , undefined, 'script');
            }
          });

      });
      

//  })(jQuery);
</script>
<% end -%>